$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

/// COLORS
$color-leaf-50: #f8f6ee;
$color-leaf-100: #e8f0ea;
$color-leaf-200: #d2e0d5;
$color-leaf-300: #b4cab9;
$color-leaf-400: #83a58b;
$color-leaf-500: #61866a;
$color-leaf-600: #4d6c54;
$color-leaf-700: #3f5644;
$color-leaf-800: #354639;
$color-leaf-900: #000000;
$color-leaf-950: #151e18;

@mixin breakpoint-sm {
  @media (min-width: #{$breakpoint-sm}) {
    @content;
  }
}

@mixin breakpoint-md {
  @media (min-width: #{$breakpoint-md}) {
    @content;
  }
}

@mixin breakpoint-lg {
  @media (min-width: #{$breakpoint-lg}) {
    @content;
  }
}

@mixin breakpoint-xl {
  @media (min-width: #{$breakpoint-xl}) {
    @content;
  }
}

@mixin breakpoint-xxl {
  @media (min-width: #{$breakpoint-xxl}) {
    @content;
  }
}
