@use "./variables" as v;
@use "sass:map";

@mixin respond($size) {
  @if map.has-key(v.$breakpoints, $size) {
    @media (min-width: map.get(v.$breakpoints, $size)) {
      @content;
    }
  } @else {
    @error "Breakpoint `#{$size}` does not exist. Available: #{map.keys(v.$breakpoints)}";
  }
}
