@import "./mixins";

:root {
  --max-width: 1200px;
  --font-mono: $arial;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: $arial;
  max-width: 100vw;
  overflow-x: hidden;
  // background-color: $color-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $libre-bondoni;
}
h1 {
  // font-size: 2rem;
}
h2 {
  line-height: 2.5rem;
}
h3 {
  // font-size: 1.5rem;
  line-height: 2.5rem;
}
h4 {
  line-height: 2rem;
}

a,
p,
button {
  font-size: 16px;
  line-height: 2rem;
}
p,
li {
  font-size: 16px;
  color: $color-black;
}

a,
button {
  color: inherit;
  text-decoration: none;
  font-family: $libre-bondoni;
}
strong {
  font-weight: 200;
  font-style: italic;
}
