@use "./mixins" as m;
@use "./variables" as v;
:root {
  --max-width: 1200px;
  --font-mono: v.$poppins;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: v.$poppins;
  max-width: 100vw;
  overflow-x: hidden;
  color: v.$color-black;
}

h1,
h2 {
  font-family: v.$epilogue;
  color: v.$color-black;
}

h3,
h4,
h5,
h6 {
  font-family: v.$poppins;
}

h2 {
  line-height: 2.5rem;
}
h3 {
  line-height: 2.5rem;
}
h4 {
  line-height: 2rem;
}

a,
p,
button {
  font-size: 16px;
  line-height: 2rem;
}
p,
li {
  font-size: 16px;
}

a,
button {
  color: inherit;
  text-decoration: none;
  font-family: v.$poppins;
}
strong {
  font-weight: 200;
}
