@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    @include m.respond(lg) {
      // Ajoute ici tes styles pour lg
    }
  }

  .bookClass {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    line-height: 30px;
    color: v.$color-black;

    a {
      align-self: center;
    }
  }

  .popup {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: v.$color-orange;
    gap: v.$smallPageGap;
    padding: v.$pageGap;

    h1 + p {
      font-size: 1.5rem;
    }

    p {
      text-align: center;
    }
  }

  .wrapper {
    position: relative;
    width: 100%;
  }
}
