@import "../styles/mixins";

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .picture {
    object-fit: cover;
    width: 100%;
  }
  .bookClass {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    font-size: 20px;
    line-height: 30px;
    color: $color-leaf-950;
    @include breakpoint-lg {
      a {
        align-self: center;
      }
    }
  }
}
