@import "@/app/styles/mixins";

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // gap: 3rem;

  h2 {
    @include breakpoint-lg {
      ///   line-height: 6rem;
    }
  }

  .bookClass {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    line-height: 30px;
    color: $color-black;
    a {
      align-self: center;
    }
  }
  .popup {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-orange;
    gap: $smallPageGap;
    padding: $pageGap;
    h1 + p {
      font-size: 1.5rem;
    }
    p {
      text-align: center;
    }
  }
  .wrapper {
    position: relative;
    width: 100%;
  }
}
