@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;

  button {
    all: unset;
  }

  .filter {
    cursor: pointer;
    text-transform: uppercase;
    color: v.$color-black;
    opacity: 0.6;
    padding: 0.4rem 0.6rem;
    text-wrap: nowrap;
    line-height: 0.4rem;
    font-size: 0.7rem;
    background-color: transparent;
    font-weight: 200;

    @include m.respond("md") {
      flex-direction: row;
      font-size: 0.7rem;
    }
  }

  .selected {
    opacity: 1;
    border: 0.5px solid v.$color-black;
    border-color: rgba($color: v.$color-black, $alpha: 0.7);
    border-radius: 100px;
    border-spacing: v.$borderSpacing;
  }

  @include m.respond("md") {
    flex-direction: row;
  }
}
