@import "../../styles/mixins";

.form {
  position: relative;
  background-color: $color-leaf-400;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 10px 40px -12px rgba(16, 24, 40, 0.1);
  padding: 2.5rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2.5rem;
  .inputContainer {
    position: relative;
    margin-bottom: 20px;

    label {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: $color-leaf-800;
      font-size: 1rem;
      pointer-events: none;
      transition: all 0.2s ease;
    }

    input,
    textarea,
    select {
      width: 100%;
      padding: 10px;
      border: none;
      font-size: 1rem;
      border-radius: 4px;
      outline: none;

      &:focus + label,
      &:not(:placeholder-shown) + label {
        top: -10px;
        font-size: 0.8rem;
        color: $color-leaf-100;
      }
    }
    input,
    textarea {
      &:focus {
        border-color: $color-leaf-100;
      }
    }

    textarea {
      min-height: 100px;
    }
  }
  .newsletter {
    label {
      display: flex;
      gap: 1rem;
      color: $color-leaf-100;
    }
  }
  button {
    align-self: center;
    padding: 0.5rem 1.5rem;
    background-color: $color-leaf-500;
    color: $color-leaf-50;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;

    &:hover {
      background-color: $color-leaf-600;
    }
    &:disabled {
      background-color: $color-leaf-100;
      color: $color-leaf-400;
      cursor: not-allowed;
      border: none;
      align-self: center;
    }
  }
}
