@import "../../styles/mixins";

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $color-leaf-800;
  color: $color-leaf-50;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .firstSection {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @include breakpoint-lg {
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      align-items: center;
    }
  }
  .pagesList {
    li {
      list-style-type: none;
      text-align: center;
      margin-top: 1rem;
      a {
        font-family: "Anton";
        text-transform: uppercase;
        letter-spacing: 0.5px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .newsletter {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .error {
      background-color: #f73c50;
      padding: 0.5rem 1.5rem;
      border-radius: 4px;
      color: $color-leaf-50;
    }
    .success {
      background-color: $color-leaf-500;
      padding: 0.5rem 1.5rem;
      border-radius: 4px;
      color: $color-leaf-50;
    }
    .loaderContainer {
      display: flex;
      justify-content: center;
      .loader {
        border: 3px solid $color-leaf-50;
        border-top: 3px solid $color-leaf-50;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 1s linear infinite;
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    form {
      position: relative;
      margin: 20px 0;
    }

    input {
      width: 100%;
      padding: 10px 10px 10px 10px;
      font-size: 16px;
      border: 2px solid $color-leaf-50;
      border-radius: 4px;
      outline: none;
      transition: border-color 0.3s ease;
    }

    input:focus {
      border-color: $color-leaf-50;
    }

    label {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      font-size: 16px;
      color: $color-leaf-800;
      padding: 0 5px;
      pointer-events: none;
      transition: all 0.3s ease;
    }
    ::placeholder {
      color: transparent;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      top: -10px;
      font-size: 12px;
      color: $color-leaf-50;
    }
    input:focus + label {
      color: $color-leaf-50;
    }
  }
  .arrowButton {
    position: absolute;
    right: 10px; /* Positionne le bouton à droite */
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: $color-leaf-700; /* Couleur de la flèche */
    cursor: pointer;
    font-size: 16px; /* Ajustez la taille selon vos besoins */
    padding: 0; /* Enlève le padding */
    pointer-events: auto; /* Assure que le bouton est cliquable */
  }

  .socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: $color-leaf-50;
    p {
      color: $color-leaf-50;
      font-family: "Anton";
    }
    ul {
      display: flex;
      gap: 1rem;
      align-items: center;
      li {
        list-style-type: none;
        a {
          &:hover {
            cursor: pointer;
          }
          svg {
            fill: $color-leaf-50;
            &:hover {
              fill: $color-leaf-200;
            }
          }
        }
      }
    }
  }

  .generalConditions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
  }
}
