@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: v.$color-black;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-top: v.$border;
  gap: v.$smallPageGap;

  @include m.respond(lg) {
    gap: v.$pageGap;
  }

  p:first-child {
    text-align: center;
    font-size: 50px;
    line-height: 3.5rem;
    font-weight: 700;
  }

  .firstSection {
    display: flex;
    flex-direction: column;
    gap: v.$smallPageGap;

    @include m.respond(lg) {
      flex-direction: row;
      gap: v.$pageGap;
      width: 100%;
      justify-content: space-around;
      align-items: center;
    }
  }

  .pagesList {
    li {
      list-style-type: none;
      text-align: center;

      a {
        letter-spacing: 0.5px;

        &:hover {
          color: v.$color-orange;
        }
      }
    }
  }

  .newsletter {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .error {
      background-color: #f73c50;
      padding: 0.5rem 1.5rem;
      border-radius: 4px;
      color: v.$color-white;
    }

    .success {
      background-color: green;
      padding: 0.5rem 1.5rem;
      border-radius: 4px;
      color: v.$color-white;
    }

    .loaderContainer {
      display: flex;
      justify-content: center;

      .loader {
        border: 3px solid v.$color-orange;
        border-top: 3px solid v.$color-orange;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        animation: spin 1s linear infinite;
      }
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

    form {
      position: relative;
      margin: 20px 0;
    }

    input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 2px solid v.$color-black;
      border-radius: 4px;
      outline: none;
      transition: border-color 0.3s ease;
    }

    input:focus {
      border-color: v.$color-orange;
    }

    label {
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      font-size: 16px;
      color: v.$color-black;
      padding: 0 5px;
      pointer-events: none;
      transition: all 0.3s ease;
    }

    ::placeholder {
      color: transparent;
    }

    input:focus + label,
    input:not(:placeholder-shown) + label {
      top: -10px;
      font-size: 12px;
      color: v.$color-orange;
    }
  }

  .arrowButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: v.$color-orange;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    pointer-events: auto;
  }

  .socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: v.$color-white;

    p {
      color: v.$color-white;
    }

    ul {
      display: flex;
      gap: 1rem;
      align-items: center;

      li {
        list-style-type: none;

        a {
          &:hover {
            cursor: pointer;
          }

          svg {
            fill: v.$color-black;

            &:hover {
              fill: v.$color-orange;
            }
          }
        }
      }
    }
  }

  .generalConditions {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 10px;

    a {
      font-size: 10px;
    }
  }
}
