@import "../../styles/mixins";

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  padding: 1rem;
  color: $color-black;

  @include breakpoint-xl {
    align-items: center;
    padding: 1rem 1.5rem;
    height: 4rem;
    gap: 1rem;
  }

  .logo {
    white-space: nowrap;
    width: 100%;

    @include breakpoint-xl {
      margin-left: 0;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  .name {
    font-size: 2rem;
  }
  .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  .lineOne {
    transform-origin: 25% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .lineTwo {
    transition: transform 0.2s ease-in-out;
  }

  .lineThree {
    transform-origin: 5% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .lineOneRotation {
    transform: rotate(45deg);
  }

  .lineTwoRotation {
    transform: scaleY(0);
  }

  .lineThreeRotation {
    transform: rotate(-40deg);
  }

  p {
    width: 100%;
    text-align: center;
    font-weight: 700;
    z-index: 2;
  }

  .menuIcon {
    align-self: center;
    display: -webkit-boxs;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    @include breakpoint-xl {
      display: none;
    }

    div {
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: $color-black;
    }
  }

  nav {
    position: fixed;
    top: 3rem;
    left: -100%;
    height: 100%;
    width: 70%;
    background-size: cover;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    z-index: 2;
    background-color: $color-white;
    opacity: 0.9;

    @include breakpoint-xl {
      display: flex;
      justify-content: center;
      align-items: center;
      position: unset;
      width: 100%;
      height: 4rem;
    }
  }

  nav ul {
    list-style-type: none;
    padding: 50px 20px;

    @include breakpoint-xl {
      display: flex;
      justify-content: center;
      gap: 3rem;
      padding: 2rem 0;
    }
  }

  nav ul li {
    margin: 20px 0;

    @include breakpoint-xl {
      display: inline;
    }
  }

  nav ul li a {
    text-decoration: none;
    font-size: 1.5em;

    @include breakpoint-lg {
      font-size: 1rem;
    }
    &:hover {
      color: $color-orange;
    }
  }

  nav.open {
    left: 0;
  }
}
