@import "../../styles/mixins";

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1rem;
  color: $color-black;
  position: fixed;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(60px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100vw;
  z-index: 2;
  height: 4rem;

  @include breakpoint-xl {
    align-items: center;
    padding: 1rem 1.5rem;
    height: 4rem;
    gap: 1rem;
    flex-direction: row;
    width: 95vw;
    left: 2%;
    top: 2%;
    border-radius: 8px;
  }

  .logo {
    white-space: nowrap;
    width: 100%;

    @include breakpoint-xl {
      margin-left: 0;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  .name {
    font-size: 1rem;
  }
  .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  .lineOne {
    transform-origin: 25% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .lineTwo {
    transition: transform 0.2s ease-in-out;
  }

  .lineThree {
    transform-origin: 5% 100%;
    transition: transform 0.4s ease-in-out;
  }
  .lineOneRotation {
    transform: rotate(45deg);
  }

  .lineTwoRotation {
    transform: scaleY(0);
  }

  .lineThreeRotation {
    transform: rotate(-40deg);
  }

  p {
    width: 100%;
    text-align: center;
    font-weight: 700;
    z-index: 2;
  }

  .menuIcon {
    align-self: center;
    display: -webkit-boxs;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1rem;
    cursor: pointer;
    background: none;
    border: none;
    @include breakpoint-xl {
      display: none;
    }

    div {
      width: 100%;
      height: 2px;
      border-radius: 4px;
      background-color: $color-black;
    }
  }

  nav {
    // background: $color-white;
    position: fixed;
    top: 3rem;
    top: -100vh;
    height: 100%;
    width: 100%;
    background-size: cover;
    -webkit-transition: top 0.3s ease;
    transition: top 0.3s ease;
    z-index: 2;
    left: 0;

    @include breakpoint-xl {
      display: flex;
      justify-content: center;
      align-items: center;
      position: unset;
      width: 100%;
      height: 4rem;
      top: 0;
      background-color: unset;
    }
  }

  nav ul {
    list-style-type: none;
    padding: 50px 20px;
    background: #edf2ed;
    height: calc(100vh - 4rem);

    @include breakpoint-xl {
      display: flex;
      justify-content: center;
      gap: 3rem;
      padding: 2rem 0;
      height: unset;
      background: unset;
    }
  }

  nav ul li {
    margin: 50px 0;
    background-color: $color-white;
    padding: 1rem;

    @include breakpoint-xl {
      display: inline;
      margin: unset;
      background-color: unset;
    }
  }

  nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-family: $roboto;

    @include breakpoint-lg {
      font-size: 0.8rem;
      font-weight: 200;
    }
    &:hover {
      color: $color-orange;
    }
  }

  nav.open {
    top: 4rem;
  }
}
.headerOpen {
  background-color: #edf2ed;
  backdrop-filter: unset;
}
