@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 1rem;
  color: v.$color-black;
  position: fixed;
  width: 100vw;
  z-index: 100;
  height: 4rem;
  will-change: background-color, box-shadow, backdrop-filter, color;

  @include m.respond(xl) {
    align-items: center;
    padding: 1rem 1.5rem;
    height: 4rem;
    gap: 1rem;
    flex-direction: row;
    width: 95vw;
    left: 2%;
    top: 2%;
    border-radius: 8px;
    color: v.$color-white;
  }

  .logo {
    white-space: nowrap;
    width: 100%;
    font-family: v.$epilogue;
    font-weight: 900;
    color: v.$color-white;

    @include m.respond(xl) {
      margin-left: 0;
      width: fit-content;
    }
  }

  .name {
    font-size: 1rem;
  }

  .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: v.$color-white;
  }

  .lineOne {
    transform-origin: 25% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .lineTwo {
    transition: transform 0.2s ease-in-out;
  }

  .lineThree {
    transform-origin: 5% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .lineOneRotation {
    transform: rotate(45deg);
  }

  .lineTwoRotation {
    transform: scaleY(0);
  }

  .lineThreeRotation {
    transform: rotate(-40deg);
  }

  p {
    width: 100%;
    text-align: center;
    font-weight: 700;
    z-index: 2;
  }

  .menuIcon {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1rem;
    cursor: pointer;
    background: none;
    border: none;

    @include m.respond(xl) {
      display: none;
    }

    div {
      width: 100%;
      height: 2px;
      border-radius: 4px;
    }
  }

  nav {
    position: fixed;
    top: -100vh;
    height: 100%;
    width: 100%;
    background-size: cover;
    transition: top 0.3s ease;
    z-index: 100;
    left: 0;

    @include m.respond(xl) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: unset;
      width: 100%;
      height: 4rem;
      top: 0;
      background-color: unset;
    }
  }

  nav ul {
    list-style-type: none;
    padding: 50px 20px;
    background: v.$color-pink;
    height: calc(100vh - 4rem);

    @include m.respond(xl) {
      display: flex;
      justify-content: center;
      gap: 3rem;
      padding: 2rem 0;
      height: unset;
      background: unset;
    }
  }

  nav ul li {
    margin: 50px 0;
    background-color: v.$color-white;
    padding: 1rem;

    @include m.respond(xl) {
      display: inline;
      margin: unset;
      background-color: unset;
    }
  }

  nav ul li a {
    text-decoration: none;
    font-size: 1rem;
    font-family: v.$roboto;

    @include m.respond(lg) {
      font-size: 0.8rem;
      font-weight: 200;
    }

    &:hover {
      color: v.$color-orange;
    }
  }

  nav.open {
    top: 4rem;
  }
}

.headerOpen {
  background-color: v.$color-pink;
  backdrop-filter: unset;

  .logo {
    color: v.$color-black;
  }

  .line {
    background-color: v.$color-black;
  }
}
