@use "@/app/styles/mixins" as m;
@use "@/app/styles/_variables" as v;

.main {
  position: relative;
  display: flex;
  gap: v.$pageGap;
  flex-direction: column;

  @include m.respond(sm) {
    gap: 0;
    align-items: center;
  }

  h2 {
    color: v.$color-orange;
    font-weight: 400;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: v.$pageGap;
    line-height: 1.8;
    padding: 2.5rem 1.5rem;

    a {
      align-self: center;
    }

    @include m.respond(lg) {
      width: 150%;
    }
  }

  .history {
    display: flex;
    flex-direction: column;
    width: 100%;

    .imageInSection {
      @include m.respond(lg) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      img {
        object-fit: cover;
        width: 100%;
        border-radius: 50px;
      }
    }

    @include m.respond(lg) {
      margin-top: 5rem;
      flex-direction: row;
      padding: 5rem 5rem 0 5rem;

      a {
        align-self: center;
      }
    }
  }

  .secondSection {
    width: 100%;

    section {
      width: 100%;
    }

    @include m.respond(lg) {
      padding: 0 5rem 5rem 5rem;
    }
  }
}
