@import "../../styles/mixins";
.main {
  display: flex;
  flex-direction: column;
  gap: $smallPageGap;
  padding: 0 5rem 5rem 5rem;
  @include breakpoint-lg {
    align-items: center;
    gap: $pageGap;
  }
  .workshop {
    display: flex;
    flex-direction: column;
    padding: 0 5rem 5rem 5rem;
    gap: $smallPageGap;
    h2,
    h3 {
      text-align: center;
    }
    .date {
      text-align: center;
    }
  }
  ul {
    display: flex;
    gap: 1.5rem;

    li {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 1.5rem;
      border-radius: 30px;
      .info {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
      strong {
        font-weight: 700;
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
    .adele {
      background-color: #f093fb;
      background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    }

    .lucie {
      background-color: #fbab7e;
      background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    }
  }

  .accordionItem {
    .accordionTitle {
      display: flex;
      align-items: center;
      gap: 1rem;
      border-bottom: 2px solid $color-black;
      cursor: pointer;
    }

    .accordionContent {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition:
        max-height 0.3s ease-out,
        opacity 0.3s ease-out;
    }

    &.active {
      .accordionContent {
        max-height: 200px; // Ajuste la hauteur selon ton contenu
        opacity: 1;
        transition:
          max-height 0.3s ease-in,
          opacity 0.3s ease-in;
      }
    }

    .arrowUp,
    .arrowDown {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }

    .arrowUp {
      transform: rotate(-135deg);
    }

    .arrowDown {
      transform: rotate(45deg);
    }
  }
}
