@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.main {
  display: flex;
  flex-direction: column;
  gap: v.$smallPageGap;
  padding-bottom: 3rem;
  h1 {
    color: v.$color-white;
  }

  .header {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    padding-top: 6rem;
    justify-content: space-around;
    p {
      padding: 0 1rem;
      margin-top: 3rem;
      font-weight: 300;
      color: v.$color-white;
    }
    p + a {
      margin-left: 1rem;
    }
    img {
      width: 100vw;
      height: 100vh;
      position: absolute;
      z-index: -1;
      inset: 0;
      object-fit: cover;
      object-position: 30% top;
    }
    @include m.respond(md) {
      padding: 3rem;
      p {
        margin: 0;
      }
    }
    @include m.respond(lg) {
      p {
        width: 75%;
      }
    }
  }
  h2 {
    font-weight: 900;
    letter-spacing: -3px;
    font-size: 3rem;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  @include m.respond(lg) {
    align-items: center;
    gap: v.$pageGap;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: v.$smallPageGap;
    padding: 0 1rem;
    .wrapper {
      position: relative;
      width: 100%;
    }
    @include m.respond(xl) {
      padding: 0 5rem 0rem 5rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      li {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
      }
    }
  }
  section:first-of-type {
    h3 {
      span {
        font-weight: 900;
        color: v.$color-orange;
      }
    }
  }
  section:last-child {
    gap: 0;
    padding: 0;
    .videoContainer {
      position: relative;
      bottom: -7px;
      video {
        border-radius: 20px;
        border: 10px solid v.$color-pink;
        height: 40rem;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      video + a {
        position: absolute;
        //  top: -44rem;
        bottom: 1rem;
        right: 0;
        border-bottom-right-radius: 10px;
      }
    }
    .howItWorks {
      display: flex;
      flex-direction: column;
      background-color: v.$color-pink;
      padding: 3rem 1rem;
      gap: 3rem;
      h2 {
        color: v.$color-white;
      }
      ul {
        display: grid;
        grid-template-columns: 1fr; // une seule colonne verticale
        row-gap: 3rem;

        li {
          background-color: v.$color-white;
          max-width: 27rem;
          width: 70%;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          min-height: 10rem;

          h3 {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            line-height: 1.3rem;
          }
          span {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: v.$color-black;
            width: 36px;
            min-width: 36px;
            min-height: 36px;
            height: 36px;
            border-radius: 50%;
            color: v.$color-white;
            font-family: v.$epilogue;
            font-size: 1rem;
          }
          p {
            font-weight: 300;
            line-height: unset;
          }
        }
        li:nth-child(odd) {
          justify-self: start; // à gauche
          clip-path: polygon(0 7%, 100% 0, 100% 95%, 0% 100%);
        }
        li:nth-child(even) {
          justify-self: end; // à droite
          clip-path: polygon(0 0, 100% 6%, 100% 100%, 0 95%);
        }
      }
      a {
        align-self: center;
      }
    }
    @include m.respond(md) {
      .videoContainer {
        display: flex;
        justify-content: center;
        video {
          width: 70vw !important;
        }
        video + a {
          right: 15vw;
          bottom: 0rem;
        }
      }
      width: 100%;
      .howItWorks {
        align-items: center;
        ul {
          width: 50vw;
        }
      }
    }
  }

  .noWrap {
    text-wrap: nowrap;
  }
}
