@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.main {
  display: flex;
  flex-direction: column;
  gap: v.$smallPageGap;
  padding-bottom: 3rem;

  @include m.respond(lg) {
    align-items: center;
    gap: v.$pageGap;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: v.$smallPageGap;
    padding: 0 1rem;

    span {
      border: v.$border;
      border-radius: v.$borderRadius;
      padding: v.$borderSpacing;
    }

    a {
      align-self: center;
    }

    @include m.respond(xl) {
      padding: 0 5rem 5rem 5rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      li {
        list-style-type: none;
        padding: 1.5rem;
        border-radius: 33px;

        p:first-child {
          font-family: v.$poppins;
        }
      }

      @include m.respond(lg) {
        flex-direction: row;

        li {
          list-style-type: none;
          max-width: 33.33%;
          width: 33.33%;
        }
      }
    }
  }

  h2 {
    text-align: center;
    line-height: 65px;
  }

  .noWrap {
    text-wrap: nowrap;
  }
}
