@import "../../styles//mixins";

.main {
  display: flex;
  flex-direction: column;

  h2 {
    margin-top: 1.5rem;
  }

  button,
  a {
    align-self: center;
  }
  @include breakpoint-lg {
    align-items: center;
    h2 {
      margin-top: 3rem;
    }
  }

  li {
    list-style-type: none;
  }

  h3 {
    & {
      @include breakpoint-lg {
        text-transform: uppercase;
        text-align: center;
      }
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    h1 {
      position: absolute;
    }
    img {
      width: 100%;
      object-fit: cover;
      height: 30rem;
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: $pageGap;
    line-height: 1.8;
    padding: 0 1.5rem;
    article {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: $pageGap;
      .underline {
        text-decoration: underline;
      }
      div {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
      }
      gap: 1.5rem;
    }
    & {
      @include breakpoint-xl {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        gap: 5rem;

        button,
        a {
          align-self: center;
          justify-self: flex-end;
          bottom: 0;
        }
      }
    }
  }

  .others {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2.5rem;
    width: 100%;
    gap: 0.5rem;

    & {
      @include breakpoint-lg {
        width: 80%;
        margin-bottom: 2rem;
      }
    }
    a {
      margin-top: $pageGap;
    }
  }

  .moreInfo {
    display: flex;
    flex-direction: column;
    h2 {
      text-align: center;
    }
    gap: 1.5rem;
    padding: 1.5rem 2.5rem;
    width: 100%;

    & {
      @include breakpoint-lg {
        p {
          width: 80%;
          align-self: center;
        }
      }
    }
    .buttonsSection {
      display: flex;
      flex-direction: column;
      align-self: center;
      gap: 1.5rem;
      margin-top: $pageGap;
      a {
        width: 100%;
      }

      & {
        @include breakpoint-lg {
          flex-direction: row;
          gap: 3rem;
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
