@import "../../styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $color-black;
  }

  @include breakpoint-md {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgba(237 242 237 / 1);
  }
  @include breakpoint-lg {
    flex-direction: row;
    align-items: stretch;
  }
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem 1rem 1rem;

  p {
    font-weight: 700;
    font-family: $roboto;
    font-size: 1.2rem;
    letter-spacing: -1px;
  }

  @include breakpoint-lg {
    width: 30vw;
    padding: 1rem 2rem;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(237 242 237 / 1);
  }
}

.carousel {
  overflow: hidden;
  width: 100%;
  @include breakpoint-md {
    white-space: nowrap;
  }
}

.carouselTrack {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: transform 0.4s ease;
  transform: none;

  @include breakpoint-md {
    width: max-content;
    animation: scroll 30s linear infinite;
    border-width: 1px;
    border-color: rgba(237 242 237 / 1);
    padding-bottom: 1rem;
  }

  @include breakpoint-lg {
    padding-top: 1rem;
  }
}

.carouselItem {
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 1rem;

  .carouselItemContainer {
    border-color: rgba(237 242 237 / 1);
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: flex-start;
  }

  .learnMore {
    border: none;
    font-family: $roboto;
    font-size: 0.7rem;
    font-weight: 200;
    line-height: 1rem;
    text-transform: uppercase;
    gap: 0.7rem;
    svg {
      color: $color-black;
    }
  }

  @include breakpoint-md {
    flex: 0 0 auto;
    padding: 0;
    .carouselItemContainer {
      border: none;
      width: 70%;
      padding: 0 1.6rem;
    }
  }
}

.carouselText,
.carouselName {
  font-size: 0.7rem;
  font-family: $roboto;
  font-weight: 300;
  line-height: 1rem;
  text-transform: uppercase;
  color: $color-deep-black;
}

.carouselName {
  background-color: rgba(237 242 237/1);
  border-radius: 4px;
  padding: 0 0.8rem;
  font-weight: 500;
  color: $color-white;
  padding: 0.3rem;
}
.controls {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  gap: 1rem;
  button {
    height: 42px;
    width: 42px;
    border: 1px solid $color-deep-black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }
  @include breakpoint-md {
    display: none;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
