@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: v.$color-black;
  }

  @include m.respond(md) {
    border-bottom-style: solid;
    border-width: 1px;
    border-color: rgba(237 242 237 / 1);
  }

  @include m.respond(lg) {
    flex-direction: row;
    align-items: stretch;
  }
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem 1rem 1rem;

  p {
    font-weight: 700;
    font-family: v.$roboto;
    font-size: 1.2rem;
    letter-spacing: -1px;
  }

  @include m.respond(lg) {
    width: 30vw;
    padding: 1rem 2rem;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: rgba(237 242 237 / 1);
  }
}

.carousel {
  overflow: hidden;
  width: 100%;

  @include m.respond(md) {
    white-space: nowrap;
  }
}

.carouselTrack {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  transition: transform 0.4s ease;
  transform: none;

  @include m.respond(md) {
    width: max-content;
    animation: scroll 30s linear infinite;
    border-width: 1px;
    border-color: rgba(237 242 237 / 1);
    padding-bottom: 1rem;
  }

  @include m.respond(lg) {
    padding-top: 1rem;
  }
}

.carouselItem {
  flex: 0 0 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 1rem;

  .carouselItemContainer {
    border-color: rgba(237 242 237 / 1);
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: flex-start;
  }

  .learnMore {
    border: none;
    font-family: v.$roboto;
    font-size: 0.7rem;
    font-weight: 200;
    line-height: 1rem;
    text-transform: uppercase;
    gap: 0.7rem;

    svg {
      color: v.$color-black;
    }
  }

  @include m.respond(md) {
    flex: 0 0 auto;
    padding: 0;

    .carouselItemContainer {
      border: none;
      width: 45vh;
      text-wrap: wrap;
      padding: 0 1.6rem;
    }
  }

  @include m.respond(lg) {
    .carouselItemContainer {
      width: 70vh;
    }
  }
}

.carouselText,
.carouselName {
  font-size: 0.7rem;
  font-family: v.$roboto;
  font-weight: 300;
  line-height: 1rem;
  text-transform: uppercase;
  color: v.$color-black;
}

.carouselName {
  background-color: rgba(237 242 237/1);
  border-radius: 4px;
  padding: 0.3rem 0.8rem;
  font-weight: 500;
  color: v.$color-white;
}

.controls {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  gap: 1rem;

  button {
    height: 42px;
    width: 42px;
    border: 1px solid v.$color-black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  }

  @include m.respond(md) {
    display: none;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
