@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.container {
  padding: 1.5rem;
  border-radius: 30px;
  background-color: v.$color-orange;

  span,
  h4 {
    line-height: 33px;
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 1rem;
  }
}

.color-orange {
  background-color: v.$color-orange;
}

.color-purple {
  background-color: v.$color-pink;
}

.color-green {
  background-color: v.$color-green;
}
