@import "../styles//mixins";

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 3rem;
  @include breakpoint-lg {
    align-items: center;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    line-height: 1.8;
    padding: 0 1rem;
    span {
      font-family: $cursive;
      font-size: 50px;
      color: $color-bright-pink;
    }
    a {
      align-self: center;
    }
    @include breakpoint-lg {
      width: 80%;
    }
    @include breakpoint-xl {
      max-width: 1000px;
    }
  }

  h2 {
    color: $color-black;
    text-align: center;
    margin-bottom: 2rem;
    padding: 0.5rem;
  }
}
