@import "../../styles/mixins";
$image-ratio-desktop: 33.33%;
$image-ratio-mobile: 100%;

.title {
  color: $color-red;
  text-transform: uppercase;
  margin-top: 3rem;
  text-align: center;
  word-spacing: 0.2rem;
}
