@import "../../styles/mixins";
$image-ratio-desktop: 33.33%;
$image-ratio-mobile: 100%;

.title {
  color: $color-black;
  font-size: 50px;
  margin-top: 3rem;
  text-align: center;
  padding-top: 3rem;
}
