@import "../styles//mixins";
.main {
  display: flex;
  flex-direction: column;
  background: $color-background-radiant;
  h2 {
    color: $color-leaf-50;
  }

  h1 {
    color: $color-leaf-50;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
    padding-top: 2.5rem;
  }

  section {
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    p {
      color: $color-leaf-50;
      text-align: start;
      width: 100%;
      @include breakpoint-lg {
        width: 80%;
      }
    }
    @include breakpoint-lg {
      padding: 3rem;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;
      @include breakpoint-lg {
        width: 55%;
      }
    }
  }
}
