@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.main {
  display: flex;
  flex-direction: column;

  section {
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
    .global {
      display: flex;
      gap: 3rem;
      max-width: 1200px;
      a {
        align-self: center;
      }

      @include m.respond(lg) {
        width: 100%;
        flex-direction: row;
        justify-content: flex-start;
      }
    }

    .informations {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      gap: 3rem;
    }

    p {
      text-align: start;
      width: 100%;

      @include m.respond(lg) {
        width: 80%;
      }
    }

    @include m.respond(lg) {
      padding: 3rem;
    }

    > div {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      align-items: center;

      @include m.respond(lg) {
        width: 55%;
      }
    }
  }
}
