@import "../styles//mixins";
.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: $color-leaf-50;
  h1,
  h2 {
    color: $color-leaf-950;
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    h1 {
      position: absolute;
    }
    img {
      object-fit: cover;
    }
  }
  section {
    padding: 3rem 1rem;

    > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      @include breakpoint-lg {
        width: 45%;
      }
    }
    @include breakpoint-lg {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: space-between;
    }
  }
}
