@import "../../styles/mixins";
//POPUP
.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup {
  display: flex;
  flex-direction: column;
  background: $color-white;
  padding: 2rem;
  border-radius: 8px;
  gap: 2rem;
  width: 95%;
  overflow: auto;
  height: 90vh;
  button {
    align-self: flex-end;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    background-color: $color-deep-black;
    color: $color-white;
    border: none;
    cursor: pointer;
    border-radius: 10rem;
    font-family: $roboto;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 0.8rem;
    @include breakpoint-lg {
      padding: 1rem 2rem;
      height: 2rem;
    }
  }
  .label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateY(0);
  }

  /* hover / focus effect */
  button:hover .label,
  button:focus .label {
    transform: translateY(-100%);
  }

  button:hover .label {
    animation: returnCenter 0.4s ease-out 0.3s forwards;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: $roboto;
    list-style-type: none;
    li {
      div {
        p {
          padding-top: 0.7rem;
          font-size: 1.3rem;
          font-weight: 300;
          line-height: 1.5rem;
          letter-spacing: -2.7px;
        }
      }
    }
  }
}

.popupIn {
  animation: popupIn 0.4s ease-out forwards;
}

/* Disparition */
.popupOut {
  animation: popupOut 0.4s ease-in forwards;
}

@keyframes popupIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popupOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(30px);
  }
}

@keyframes returnCenter {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
