@import "../../styles/mixins";
.link {
  position: fixed;
  bottom: 50px;
  right: 20px;
  cursor: pointer;
  z-index: 1;

  .button {
    border-radius: $borderRadius;
    border: 5px solid $color-black;
    padding: 0.5rem 1.5rem;
    background-color: $color-orange;
    color: $color-white;
    font-weight: 700;
    cursor: pointer;
  }
}
