@import "../../styles/mixins";

.contactMe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 1.5rem;
  color: $color-leaf-900;
  line-height: 30px;
  background-color: $color-leaf-50;
  img {
    display: none;
  }
  h3 {
    align-self: center;
  }

  @include breakpoint-lg {
    padding: 3rem;

    h3 {
      padding: 0 3rem;
      max-width: 1200px;
    }
    p {
      line-height: 40px;
      padding: 0 3rem;
      max-width: 1200px;
      align-self: center;
      width: 100%;
    }
  }
  .buttonsSection {
    margin-top: 3rem;
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 1.5rem;

    a {
      width: 100%;
    }
    @include breakpoint-lg {
      flex-direction: row;
      gap: 3rem;
    }
  }
}
