@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.main {
  width: 100%;
  min-height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: v.$color-yellow;

  svg {
    width: 250px;
    position: relative;
    top: 10%;
  }

  @include m.respond(md) {
    svg {
      width: 300px;
      top: 13%;
    }
  }
}

.boxes {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  line-height: 1.2;
  will-change: transform;
  padding: 5rem 2rem;

  .textContainer {
    top: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: flex-start;

    h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }

    p {
      font-size: 1.2rem;
      font-weight: 400;
    }
  }

  @include m.respond(md) {
    padding: 10rem 2rem;

    .textContainer {
      width: 70%;

      h2 {
        line-height: 2.5rem;
      }
    }
  }

  @include m.respond(lg) {
    padding: 10rem 2rem;
  }
}
