@import "../../styles/mixins";
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $smallPageGap;
  .newsletter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: $smallPageGap;

    padding: 40px 20px;
    width: 100%;
    @include breakpoint-lg {
      flex-direction: row;
      max-width: 1200px;
    }
    form {
      padding: 0;
      @include breakpoint-lg {
        width: 50%;
      }
    }
    .info {
      padding: 40px;
      background-color: #fbab7e;
      background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
      border-radius: 30px;

      max-width: 600px;
      @include breakpoint-lg {
        max-width: none;
        width: 50%;
      }
      p {
        font-family: $poppins;
        font-size: 42px;
        font-weight: 700;
        padding-bottom: 2rem;
      }
      li {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.2rem 0;
        text-align: left;
        svg {
          width: 22px;
          min-width: 22px;
          max-width: 22px;
        }
      }
    }
  }
}
