@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.main {
  display: flex;
  flex-direction: column;
  gap: v.$smallPageGap;
  padding: 3rem 1.5rem;

  h1 {
    margin-top: 0px;
  }

  @include m.respond("lg") {
    padding: 0 5rem 5rem 5rem;
    align-items: center;
    h1 {
      margin-top: 1rem;
    }
  }

  a {
    align-self: center;
  }

  .workshop {
    display: flex;
    flex-direction: column;
    gap: v.$smallPageGap;

    @include m.respond("lg") {
      padding: 0 5rem 5rem 5rem;
    }

    h2,
    h3 {
      text-align: center;
    }

    span {
      font-weight: bold;
    }

    .gif {
      align-self: center;
      width: 500px;
    }

    .align {
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .date {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      text-align: center;
    }

    .how {
      li:first-child {
        background-color: #f093fb;
        background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
      }
      li:last-child {
        background-color: #fbab7e;
        background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
      }
    }

    .needs {
      display: flex;
      flex-direction: column;
      ul {
        padding: 1.5rem 0;
        li {
          text-align: center;
          padding: 0;
        }
      }
    }
  }

  ul {
    gap: 1.5rem;
    display: flex;
    flex-direction: column;

    @include m.respond("lg") {
      flex-direction: row;
    }

    li {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      border-radius: 30px;
      gap: 1.5rem;

      @include m.respond("lg") {
        width: 50%;
      }

      .info {
        display: flex;
        align-items: center;
        gap: 1.5rem;
      }

      strong {
        font-weight: 700;
      }

      img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        object-fit: cover;

        @include m.respond("lg") {
          width: 100px;
          height: 100px;
        }
      }
    }

    .adele {
      background-color: #f093fb;
      background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    }

    .lucie {
      background-color: #fbab7e;
      background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
    }
  }

  .accordionItem {
    .accordionTitle {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      border-bottom: 2px solid v.$color-black;
      cursor: pointer;
    }

    .link {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    .accordionContent {
      min-height: 0;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      transition:
        padding-top 0.2s ease-out,
        max-height 0.2s ease-out,
        opacity 0.2s ease-out;
    }

    &.active {
      .accordionContent {
        padding-top: 1rem;
        max-height: 200px;
        opacity: 1;
        transition:
          padding-top 0.1s ease-in,
          max-height 0.3s ease-in,
          opacity 0.5s ease-in;
      }
    }

    .arrowUp,
    .arrowDown {
      border: solid black;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }

    .arrowUp {
      transform: rotate(-135deg);
    }

    .arrowDown {
      transform: rotate(45deg);
    }
  }
}
