@import "../../styles/mixins";
.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: $pageGap;
  padding: 0rem 1.5rem;
  h2 {
    padding: 0 1.5rem;
    font-weight: 400;
    span {
      color: $color-orange;
    }
  }
  h1 {
    text-transform: none;
    letter-spacing: 1px;
    font-size: 70px;
    @include breakpoint-lg {
      padding-top: 2.5rem;
    }
    span {
      border: $border;
      border-radius: 100px;
      border-spacing: $borderSpacing;
      padding: 0.5rem 1rem;
    }
  }

  ul {
    li {
      padding: 1.5rem 0;
      display: flex;
      flex-direction: column;
      list-style-type: none;
      .empahsis {
        padding: 5px 10px;
        font-weight: bold;
        border-radius: 5px;
        width: fit-content;
        color: $color-white;
      }
      span:last-child {
        padding-top: 0.5rem;
      }
    }
    @include breakpoint-lg {
      display: flex;
      gap: 1rem;
      padding: 3rem;

      li {
        max-width: 33.33%;
        width: 33.33%;
        padding: 1.5rem;
        border-radius: 30px;

        .empahsis {
          padding: 0;
          padding-bottom: 0.5rem;
          font-weight: normal;
          color: $color-black;
          font-weight: 700;
          background-color: transparent;
          font-size: 25px;
          font-family: $bebasNeue;
        }
        span {
          line-height: 33px;
        }
      }
      .dynamic {
        background-color: #fbab7e;
        background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
      }
      .cuttingEdge {
        background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
      }
      .fun {
        background-color: #fbab7e;
        background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
      }
    }
  }
  p {
    color: $color-black;
    font-weight: 300;
    text-align: center;
    padding: 0 1.5rem;

    @include breakpoint-lg {
      padding: initial;
      border-radius: 60px;
    }
  }
}
