@import "../../styles/mixins";
.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0rem 1.5rem;
  gap: 1rem;
  background-color: $color-yellow;
  position: relative;
  height: 40rem;
  img {
    object-fit: cover;
    object-position: right center;
    height: 100vh !important;
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
    align-self: center;
    position: relative;
    margin: auto;
    h1 {
      text-transform: none;
      letter-spacing: 1px;
      font-size: 2.5rem;
      line-height: 2.7rem;
      text-align: left;
      color: $color-white;
      white-space: normal;
      width: 60vw;

      span {
        color: $color-pink;
      }
    }
    .subtitle {
      z-index: 1;
      color: $color-white;
      text-align: left;
      font-weight: 300;
      width: 60%;
    }
  }

  @include breakpoint-md {
    .titleContainer {
      h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        align-self: flex-start;
        width: 40vw;
      }
      .subtitle {
        width: 40%;
      }
    }

    img {
      object-position: center;
      height: 100vh;
    }
  }
  @include breakpoint-lg {
    .titleContainer {
      right: 10%;
    }
  }

  @include breakpoint-xl {
    .titleContainer {
      right: 20%;
    }
  }
}
