@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0rem 1.5rem;
  gap: 1rem;
  background-color: v.$color-yellow;
  position: relative;
  height: 100vh;

  img {
    object-fit: cover;
    object-position: right center;
    height: 100vh !important;
  }

  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 1;
    align-self: center;
    position: relative;
    margin: auto;

    h1 {
      text-transform: none;
      letter-spacing: -2px;
      font-size: 2.5rem;
      line-height: 2.7rem;
      text-align: left;
      color: v.$color-white;
      white-space: normal;
      width: 60vw;
      font-weight: 900;

      span {
        color: v.$color-yellow;
      }
    }

    .subtitle {
      z-index: 1;
      color: v.$color-white;
      text-align: left;
      font-weight: 300;
      width: 60%;
    }

    @include m.respond(md) {
      h1 {
        letter-spacing: -3px;
      }
    }
  }

  @include m.respond(md) {
    .titleContainer {
      h1 {
        font-size: 3.5rem;
        line-height: 3.5rem;
        align-self: flex-start;
        width: 40vw;
      }

      .subtitle {
        width: 50%;
      }
    }

    img {
      height: 100vh;
    }
  }

  @include m.respond(lg) {
    .titleContainer {
      right: 10%;
    }
  }

  @include m.respond(xl) {
    .titleContainer {
      right: 20%;
    }
  }
}
