@import "../../styles/mixins";
.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 2rem 0;

  h2 {
    text-transform: uppercase;
    color: $color-leaf-600;
    font-weight: 400;
    padding: 0 3rem;
    text-align: center;
    letter-spacing: 1px;
    span {
      text-wrap: nowrap;
      border: 1px solid $color-leaf-600;
      border-radius: 60px;
      padding: 3px 16px;
      margin-right: 0.4rem;
      line-height: 2.5rem;
    }
    @include breakpoint-lg {
      //  font-size: 40px;
    }
  }
}
.bannerWhite {
  //background-color: $color-leaf-100;
  border-top: 1px solid $color-leaf-600;
  border-bottom: 1px solid $color-leaf-600;
  h2 {
    color: $color-leaf-600;
  }
}
