@import "@/app/styles/mixins";

.main {
  display: flex;
  flex-direction: column;
  gap: $smallPageGap;
  .discoverOffers {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 20rem;
    background-color: $color-yellow;
    overflow-x: auto;
    overflow-y: hidden;

    ul {
      list-style: none;
      display: flex;

      li {
        height: 10rem;
        width: 70vw;

        p {
          font-size: 0.7rem;
          line-height: 1rem;
        }
        .listContent {
          display: flex;
          flex-direction: column;
          border-top-left-radius: $borderRadius;
          border-top-right-radius: $borderRadius;
          height: 100%;
          padding: 1rem;
          width: 100%;
        }
      }

      li:not(:first-child) {
        .listContent {
          border: 0.5px solid $color-black;
          border-bottom-left-radius: $borderRadius;
          border-bottom-right-radius: $borderRadius;
          height: 8.5rem;
        }
      }

      li:not(:first-child, .secondItem) {
        padding: 0 2rem;
      }

      .secondItem {
        display: flex;
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        background-color: transparent;
        padding: 0;

        .shapesContainer {
          display: flex;
          flex-direction: column;
          background-color: rgb(255 255 255/1);
          .longRectangle {
            background-color: $color-yellow;
            height: 100%;
            background-color: $color-yellow;
          }
          .rectangle {
            height: 2rem;
            width: 2rem;
            align-self: flex-end;
            border-bottom-left-radius: 2rem;
            position: relative;
            background-color: $color-yellow;
          }
        }
      }
      li:first-child {
        display: flex;
        .shapesContainer {
          display: flex;
          flex-direction: column;
          background-color: rgb(255 255 255/1);
          .longRectangle {
            height: 100%;
            background-color: $color-yellow;
          }
          .rectangle {
            height: 2rem;
            width: 2rem;
            align-self: flex-end;
            border-bottom-right-radius: 2rem;
            position: relative;
            background-color: $color-yellow;
          }
        }

        h4 {
          color: $color-orange;
        }
        .listContent {
          background-color: $color-white;
        }
      }
    }
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
  }
  .articles {
    display: flex;
    flex-direction: column;
    gap: $smallPageGap;

    .articleCard.even .imageContainer img {
      border-radius: $borderRadius !important;
    }

    .articleCard {
      .imageContainer img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      span {
        text-transform: uppercase;
        font-size: 0.8rem;
      }
      .tag,
      .category {
        font-size: 0.7rem;
      }
      .tagContainer {
        display: flex;
        gap: 0.5rem;
        .tag {
          color: $color-orange;
          font-weight: 200;
        }
      }

      .category {
        color: $color-black;
        opacity: 0.7;
        border: $border;
        border-color: rgba($color: $color-black, $alpha: 0.7);
        border-radius: 100px;
        border-spacing: $borderSpacing;
        padding: 0.5rem 1rem;
        text-wrap: nowrap;
        line-height: 3rem;
      }
    }
    @include breakpoint-md {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      .articleCard {
        .imageContainer {
          img {
            width: 20rem;
            height: 420px;
            object-fit: cover;
          }
        }
      }
    }

    @include breakpoint-lg {
      .articleCard.even .imageContainer {
        border-radius: $borderRadius !important;
      }
      .articleCard {
        .imageContainer {
          overflow: hidden;
          img {
            display: block;
            scale: 1.2;
            transition: transform 0.5s ease;
            &:hover {
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }

  @include breakpoint-md {
    gap: $smallPageGap;
  }

  @include breakpoint-lg {
    .discoverOffers {
      ul {
        li {
          width: 25vw;
        }
      }
    }
  }
}
