@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.main {
  display: flex;
  flex-direction: column;
  gap: v.$smallPageGap;

  .discoverOffers {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 20rem;
    background-color: v.$color-yellow;
    overflow-x: auto;
    overflow-y: hidden;

    ul {
      list-style: none;
      display: flex;

      li {
        height: 10rem;
        width: 70vw;

        p {
          font-size: 0.7rem;
          line-height: 1rem;
        }

        .listContent {
          display: flex;
          flex-direction: column;
          border-top-left-radius: v.$borderRadius;
          border-top-right-radius: v.$borderRadius;
          height: 100%;
          padding: 1rem;
          width: 100%;
        }
      }

      li:not(:first-child) {
        .listContent {
          border: 0.5px solid v.$color-black;
          border-bottom-left-radius: v.$borderRadius;
          border-bottom-right-radius: v.$borderRadius;
          height: 8.5rem;
        }
      }

      li:not(:first-child, .secondItem) {
        padding: 0 2rem;
      }

      .secondItem {
        display: flex;
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        background-color: transparent;
        padding: 0;

        .shapesContainer {
          display: flex;
          flex-direction: column;
          background-color: rgb(255 255 255 / 1);

          .longRectangle {
            background-color: v.$color-yellow;
            height: 100%;
          }

          .rectangle {
            height: 2rem;
            width: 2rem;
            align-self: flex-end;
            border-bottom-left-radius: 2rem;
            position: relative;
            background-color: v.$color-yellow;
          }
        }
      }

      li:first-child {
        display: flex;

        .shapesContainer {
          display: flex;
          flex-direction: column;
          background-color: rgb(255 255 255 / 1);

          .longRectangle {
            height: 100%;
            background-color: v.$color-yellow;
          }

          .rectangle {
            height: 2rem;
            width: 2rem;
            align-self: flex-end;
            border-bottom-right-radius: 2rem;
            position: relative;
            background-color: v.$color-yellow;
          }
        }

        h4 {
          color: v.$color-orange;
        }

        .listContent {
          background-color: v.$color-white;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
  }

  .articles {
    display: flex;
    flex-direction: column;
    gap: v.$smallPageGap;

    .articleCard.even .imageContainer img {
      border-radius: v.$borderRadius !important;
    }

    .articleCard {
      .imageContainer img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }

      span {
        text-transform: uppercase;
        font-size: 0.8rem;
      }

      .tag,
      .category {
        font-size: 0.7rem;
      }

      .tagContainer {
        display: flex;
        gap: 0.5rem;
        .tag {
          color: v.$color-orange;
          font-weight: 200;
        }
      }

      .category {
        color: v.$color-black;
        opacity: 0.7;
        border: v.$border;
        border-color: rgba($color: v.$color-black, $alpha: 0.7);
        border-radius: 100px;
        border-spacing: v.$borderSpacing;
        padding: 0.5rem 1rem;
        text-wrap: nowrap;
        line-height: 3rem;
      }
    }

    @include m.respond("md") {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;

      .articleCard {
        .imageContainer img {
          width: 20rem;
          height: 420px;
          object-fit: cover;
        }
      }
    }

    @include m.respond("lg") {
      .articleCard.even .imageContainer {
        border-radius: v.$borderRadius !important;
      }

      .articleCard {
        .imageContainer {
          overflow: hidden;

          img {
            display: block;
            scale: 1.2;
            transition: transform 0.5s ease;

            &:hover {
              transform: scale(0.9);
            }
          }
        }
      }
    }
  }

  @include m.respond("md") {
    gap: v.$smallPageGap;
  }

  @include m.respond("lg") {
    .discoverOffers {
      ul {
        li {
          width: 25vw;
        }
      }
    }
  }
}
