@use "../../../styles/mixins" as m;
@use "../../../styles/variables" as v;

.link {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2.8rem;

  background-color: v.$color-pink;
  border-radius: v.$borderRadius;
  border: none;

  cursor: pointer;
  text-align: center;
  white-space: nowrap;

  font-family: v.$roboto;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: -0.01ch;

  color: v.$color-white;
  font-size: 0.9rem;
  width: fit-content;

  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  svg {
    width: 24px;
    height: 24px;
  }

  @include m.respond(md) {
    font-size: 0.9rem;
  }
}
