@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.stack {
  position: relative;
  margin-top: 3rem;
  height: 50vh;
  width: 80vw;

  @include m.respond(md) {
    width: 80vw;
    height: 100vh;
    top: 25%;
    left: 5%;
  }

  @include m.respond(xxl) {
    width: 1200px;
  }
}

.box {
  position: absolute;
  inset: 0;
  background: #f6c1dd;
  background-image: url("../../images/warioriii.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid v.$color-pink;
  padding: 20px;
  border-radius: 18px;
  font-weight: 500;
  transform-origin: center bottom;
  will-change: transform;

  @include m.respond(md) {
    background-position: top;
  }
}
