@import "../../styles/mixins";

.description {
  display: flex;
  flex-direction: column;
  gap: $smallPageGap;
  padding: 3rem 1.5rem;
  @include breakpoint-lg {
    gap: $pageGap;
  }
  h2 {
    color: $color-black;

    @include breakpoint-lg {
      max-width: 1200px;
      align-self: center;
      padding: 0 3rem;
      line-height: 3rem !important;
    }
  }
  h3 {
    line-height: 3rem;
  }
  h2,
  h3 {
    span,
    strong {
      font-weight: 700;
      border: $border;
      border-radius: $borderRadius;
      border-spacing: $borderSpacing;
      padding: 0.5rem;
      line-height: 3rem;
    }
  }

  h2 {
    span,
    strong {
      line-height: 3.5rem;
    }
  }
  h3 {
    text-align: center;
  }

  p {
    line-height: 2rem;
    span {
      color: $color-orange;
    }
    @include breakpoint-lg {
      line-height: 40px;
      align-self: center;
      padding: 0 3rem;
      max-width: 1200px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
      list-style-type: none;
      @include breakpoint-lg {
        line-height: 40px;
        align-self: center;
      }
    }
  }

  a {
    align-self: center;
  }
}
