@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 5rem 3rem;
  height: 30rem;

  h2 {
    line-height: 3rem;
    text-align: center;
    font-size: 3rem;
  }

  span {
    color: v.$color-orange;
  }

  p {
    text-align: center;
    font-size: 1.2rem;
  }

  @include m.respond(md) {
    padding: 10rem;

    h2 {
      line-height: 5rem;
      font-size: 5rem;
    }

    p {
      font-size: 1.2rem;
    }
  }
}
