@import "../../styles/mixins";

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem 5rem 5rem 5rem;

  h2 {
    line-height: 3rem;
    text-align: center;
    font-size: 3rem;
  }
  p {
    text-align: center;
    font-size: 1.2rem;
  }
  @include breakpoint-md {
    padding: 10rem 10rem 10rem 10rem;

    h2 {
      line-height: 5rem;
      text-align: center;
      font-size: 5rem;
    }
    p {
      text-align: center;
      font-size: 1.2rem;
    }
  }
}
