@use "@/app/styles/mixins" as m;
@use "@/app/styles/variables" as v;

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background-color: v.$color-white;

  @include m.respond("lg") {
    padding: 5rem;
  }

  h1 {
    color: v.$color-black;
  }

  h2 {
    color: v.$color-black;
    text-transform: uppercase;
  }

  h3,
  p {
    color: v.$color-black;
  }
}
